<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js 애완용품샵</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" class="app">
        <header>
            <div class="navbar navbar-default title-name">
                <h1 v-text="sitename" class="sitename"></h1>
            </div>
            <div class="navbar navbar-nav navbar-right cart">
                <button type="button" class="btn btn-sm check-out-btn" @click="showCheckOut">
                    <span class="shopping-cart" style="font-size:12px;">
                        {{ cartItemCount }}
                    </span>
                    <span style="font-size:9px;">체크아웃</span> 
                </button>
            </div>
        </header>
        
        <main v-if="showProduct">
            <div class="row product">
                <div class="col">
                    <figure>
                        <img :src="product.image" alt="고양이사진" width="300">
                    </figure>
                </div>
                <div class="col col-expand item-content">
                    <h1 v-text="product.title"></h1>
                    <p v-html="product.description"></p>
                    <div class="setupBtn">
                        <button class="btn btn-primary " @click="addToCart" v-if="canAddToCart">
                            장바구니 담기
                        </button>
                        <button class="btn btn-primary " disabled="true" v-else>장바구니 담기</button>
                    </div>

                    <p class="price">
                        {{ product.price | formatPrice }}
                    </p>
                </div>
            </div>
        </main>
        <div v-else>
            <div class="col-md-6">
                <strong>이름: </strong>
                <input v-model="order.firstName" class="form-control" type="text">
            </div>
            <div class="col-md-6">
                <strong>성: </strong>
                <input  v-model="order.lastName" class="form-control"type="text">
            </div>

            <div class="form-group">
                <div class="col-md-12"><strong>주소: </strong></div>
                <div class="col-md-12">
                    <input v-model="order.address" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12"><strong>도시: </strong></div>
                <div class="col-md-12">
                    <input v-model="order.city" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <strong>주: </strong>
                    <select v-model="order.state" class="form-control" name="" id="">
                        <option disabled value="">주</option>
                        <option>AL</option>
                        <option>AR</option>
                        <option>CA</option>
                        <option>NV</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                    <strong>우편번호 : </strong>
                    <input v-model="order.zip" class="form-control" type="text">
                </div>
            </div>
            <div class="col-md-12 verify">
                <pre>
                    이름: {{order.firstName}}
                    성: {{order.lastName}}
                    주소: {{order.address}}
                    도시: {{order.city}}
                    우편번호: {{order.zip}}
                    주: {{order.state}}
                </pre>
            </div>
        </div>
    </div>



    <script>
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Vue.js 애완용품샵',
                showProduct: true,
                    order: {
                        firstName: '',
                        lastName: '',
                        addrerss: '',
                        city: '',
                        zip: '',
                        state: '',
                },
                product: {
                    id: 1001,
                    title: '고양이 사료, 25파운드',
                    description: '당신의 고양이를 위한 <em> 거부할 수 없는</em>,<br>' +
                        '유기농 25파운드 사료입니다.',
                    price: 2000,
                    image: "imgs/cat02.jpg",
                    availableInventory: 5,
                    
                },
                cart: [],

            },
            filters: {
                formatPrice: function(price) {
                    if (!parseInt(price)) {
                        return "";
                    }
                    if (price > 99999) {
                        var priceString = (price / 100).toFixed(2);
                        var priceArray = priceString.split("").reverse();
                        var index = 3;
                        while (priceArray.length > index + 3) {
                            priceArray.splice(index + 3, 0, ",");
                            index += 4;
                        }
                        return "$" + priceArray.reverse().join("");
                    } else {
                        return "$" + (price / 100).toFixed(2);
                    }
                }
            },
            methods: {
                addToCart: function() {
                    this.cart.push(this.product.id);
                },
                showCheckOut(){ //체크아웃
                    console.log(this.showProduct)
                    this.showProduct = this.showProduct ? false : true
                }
            },
            computed: {
                cartItemCount: function() {
                    return this.cart.length || '';
                },
                canAddToCart: function() {
                    return this.product.availableInventory > this.cartItemCount;
                },
                
            }
        });
    </script>


</body>

</html>