.app{
    width: 900px;
    margin:auto;
}
main {
    width:800px;
    margin:20px auto auto auto;
    border:1px solid gray;
    padding: 10px;
    border-radius: 5px 5px 5px;
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: rgba(134, 134, 134, 0.466);
    margin-bottom: 5px;
}